<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=1-ПК;Initial Catalog=BuyvolovKR;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="kurscachWPF.Properties.Settings.BuyvolovKRConnectionString"
        connectionString="Data Source=1-ПК;Initial Catalog=BuyvolovKR;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>